<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.layout.link_news %></li>
    </ul>
  </nav>
</footer>
